<div class="row" id="banner">
  <img src="https://res.cloudinary.com/jaredomamo/image/upload/w_auto,c_scale/v1534851475/kenyan%20lifestyle/IMG_8836.jpg" class="img-fluid">
</div>

<div class="row">
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/v1536178437/kenyan%20lifestyle/images/kl-ig-12.png">
      <div class="card-body">
        <p class="card-text">Blue pants with white stripes</p>
        <p>$ 15.00</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/v1536178433/kenyan%20lifestyle/images/kl-ig-13.png">
      <div class="card-body">
        <p class="card-text">Floral Print Baseball Shirt</p>
        <p>$ 25.00</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/v1536178419/kenyan%20lifestyle/images/kl-ig-10.png">
      <div class="card-body">
        <p class="card-text">Striped Shirt</p>
        <p>$ 23.00</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/v1536178433/kenyan%20lifestyle/images/kl-ig-13.png">
      <div class="card-body">
        <p class="card-text">Floral pants with white stripe on the side</p>
        <p>$ 15.00</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/v1536178405/kenyan%20lifestyle/images/kl-ig-08.png">
      <div class="card-body">
        <p class="card-text">Bold Print Shirt</p>
        <p>$ 20.00</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/v1536178406/kenyan%20lifestyle/images/kl-ig-02.png">
      <div class="card-body">
        <p class="card-text">Retro-print Shirt</p>
        <p>$ 23.50</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/v1536178422/kenyan%20lifestyle/images/kl-ig-09.png">
      <div class="card-body">
        <p class="card-text">Brown shorts with stripes</p>
        <p>$ 15.00</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/v1536178437/kenyan%20lifestyle/images/kl-ig-12.png">
      <div class="card-body">
        <p class="card-text">Striped Blue Jacket</p>
        <p>$ 18.00</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/v1536178389/kenyan%20lifestyle/images/kl-ig-05.png">
      <div class="card-body">
        <p class="card-text">Checked Shirt</p>
        <p>$ 22.50</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/v1536178457/kenyan%20lifestyle/images/kl-ig-03.png">
      <div class="card-body">
        <p class="card-text">Black sling bag printed Kenyan Lifestyle</p>
        <p>$ 15.00</p>
      </div>
    </div>
  </div>
</div>

