<div class="row">
  <!-- <img src="https://res.cloudinary.com/jaredomamo/image/upload/v1536705565/kenyan%20lifestyle/11-09-photos/kl-03.jpg" class="img-fluid"> -->
  <div id="banner">
    <picture>
      <source media="(max-width: 650px)" srcset="https://res.cloudinary.com/jaredomamo/image/upload/v1538469373/kl-03-sm.jpg">
      <source media="(min-width: 650px)" srcset="https://res.cloudinary.com/jaredomamo/image/upload/v1538470953/kenyan%20lifestyle/11-09-photos/kl-03-md.jpg" style="width: 82vw;">
      <img src="https://res.cloudinary.com/jaredomamo/image/upload/v1538470953/kenyan%20lifestyle/11-09-photos/kl-03-md.jpg" style="width:82vw;">
    </picture>
  </div>
</div>

<div class="row">
  <div class="col-md-4" *ngFor="let item of products">
    <div class="card">
      <img class="card-img-top" [src]="item.imageMap">
      <div class="card-body">
        <p class="card-text">{{ item.title }}</p>
        <p>$ {{ item.price }}</p>
      </div>
    </div>
  </div>
</div>

