#banner {
    margin: auto;
    padding: auto;
    width: 100%;
    background-color: whitesmoke;
}
@media screen and (min-width:577px) 
    {#banner {
        min-height: 500px;
        height: 500px;
    }
    .col-md-4 {
        margin-top: 10px;
    }
}