<div class="row">
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/v1536178405/kenyan%20lifestyle/images/kl-ig-07.png">
      <div class="card-body">
        <p class="card-text">Pink sling bag printed Kenyan Lifestyle in black</p>
        <p>$ 15.00</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/v1536178429/kenyan%20lifestyle/images/kl-ig-15.png">
      <div class="card-body">
        <p class="card-text">Red pants with white stripe on the side printed Kenyan Lifesyle</p>
        <p>$ 15.00</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/v1536178445/kenyan%20lifestyle/images/kl-ig-14.png">
      <div class="card-body">
        <p class="card-text">African print khaki jacket</p>
        <p>$ 18.00</p>
      </div>
    </div>
  </div>
  <!-- </div> -->
</div>
