django==2.2.10
pip==10.0.1
pytz==2018.5
setuptools==39.2.0
wheel==0.31.1
whitenoise
gunicorn
psycopg2-binary
django-heroku
dj-database-url
Pillow

django-cloudinary-storage==0.2.3
cloudinary==1.12.0
requests==2.19.1
certifi==2018.4.16
six==1.11.0
urllib3==1.23
mock==2.0.0
chardet==3.0.4
idna==2.7
pbr==4.1.0
