<div class="contact-container">
  <div class="contact-header">
    <h2>Let's make something awesome together</h2>
    <h5>Drop us a line, or give us a heads up if you're interested in visiting us.</h5>
  </div>
  <div class="row contact-body">
    <div class="col-md-4">
      <i class="fas fa-map-marked-alt"></i>
      <address>
        <a href="https://goo.gl/maps/rkNzLzLagSn">
          Main Store <br/>
          52B, Imenti Hse <br/>
          Nairobi, Kenya
        </a>
      </address>
    </div>
    <div class="col-md-4">
      <i class="fas fa-mobile-alt"></i> <br/>
      Phone: <a href="tel:+254707081315">+254 707 081 315</a>
    </div>
    <div class="col-md-4">
      <i class="fas fa-comment"></i>
      <a class="nav-link" target="_blank" href="https://www.instagram.com/kenyanlifestyle/"><i class="fa fa-instagram"></i> @kenyanlifestyle</a>
      <a class="nav-link" target="_blank" href="https://www.facebook.com/kenyanlifestyle/"><i class="fa fa-facebook"></i>@kenyanlifestyle</a>
    </div>
  </div>
  <div class="contact-map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d997.2043728219563!2d36.82319926365539!3d-1.2833647353943076!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f10d5e08a7649%3A0x5cc5128336b651d1!2sKenyan+Lifestyle!5e0!3m2!1sen!2ske!4v1536334816319" width="920" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>