<h5 class="text-center">Shop The Look</h5>
<div class="container-fluid row">
  <!-- <div class="column">
    <img class="card-img-top" src="assets/klife01.jpg" alt="Card image cap">
    <img class="card-img-top" src="assets/klife02.jpg" alt="Card image cap">
    <img class="card-img-top" src="assets/klife11.jpg" alt="Card image cap">
    <img class="card-img-top" src="assets/klife04.jpg" alt="Card image cap">
  </div>
  <div class="column">
    <img class="card-img-top" src="assets/klife05.jpg" alt="Card image cap">
    <img class="card-img-top" src="assets/klife06.jpg" alt="Card image cap">
    <img class="card-img-top" src="assets/klife07.jpg" alt="Card image cap">
    <img class="card-img-top" src="assets/klife08.jpg" alt="Card image cap">
  </div>
  <div class="column">
    <img class="card-img-top" src="assets/klife09.jpg" alt="Card image cap">
    <img class="card-img-top" src="assets/klife10.jpg" alt="Card image cap">
    <img class="card-img-top" src="assets/klife12.jpg" alt="Card image cap">
    <img class="card-img-top" src="assets/klife13.jpg" alt="Card image cap">
  </div>
  <div class="column">
    <img class="card-img-top" src="assets/klife14.jpg" alt="Card image cap">
    <img class="card-img-top" src="assets/klife15.jpg" alt="Card image cap">
    <img class="card-img-top" src="assets/klife16.jpg" alt="Card image cap">
    <img class="card-img-top" src="assets/klife17.jpg" alt="Card image cap">
  </div> -->
  
  <div class="col-xs-6 col-md-3">
    <div class="card">
      <img class="card-img-top" src="assets/klife01.jpg" alt="Card image cap">
    </div>
  </div>
  <div class="col-xs-6 col-md-3">
    <div class="card">
        <img class="card-img-top" src="assets/klife02.jpg" alt="Card image cap">
    </div>
  </div>
  <div class="col-xs-6 col-md-3">
    <div class="card">
        <img class="card-img-top" src="assets/klife11.jpg" alt="Card image cap">
    </div>
  </div>
  <div class="col-xs-6 col-md-3">
    <div class="card">
        <img class="card-img-top" src="assets/klife04.jpg" alt="Card image cap">
    </div>
  </div>
  <div class="col-xs-6 col-md-3">
    <div class="card">
      <img class="card-img-top" src="assets/klife05.jpg" alt="Card image cap">
    </div>
  </div>
  <div class="col-xs-6 col-md-3">
    <div class="card">
      <img class="card-img-top" src="assets/klife06.jpg" alt="Card image cap">
    </div>
  </div>
  <div class="col-xs-6 col-md-3">
    <div class="card">
      <img class="card-img-top" src="assets/klife07.jpg" alt="Card image cap">
    </div>
  </div>
  <div class="col-xs-6 col-md-3">
    <div class="card">
      <img class="card-img-top" src="assets/klife08.jpg" alt="Card image cap">
    </div>
  </div>
  <div class="col-xs-6 col-md-3">
    <div class="card">
      <img class="card-img-top" src="assets/klife09.jpg" alt="Card image cap">
    </div>
  </div>
  <div class="col-xs-6 col-md-3">
    <div class="card">
      <img class="card-img-top" src="assets/klife10.jpg" alt="Card image cap">
    </div>
  </div>
</div>