.navbar-dark {
    background-color: rgb(8, 142, 145) !important;
}
.navbar-brand, #mainNav .nav-link {
    color: #ffffff!important;
}
#mainNav {
    flex-direction: column!important;
}

.navbar-brand,
.nav-link {
    border-bottom: 2px transparent solid !important;
    font-weight: 600;
    /* transition: border-bottom 1.5s linear; */
}
.nav-link-active,
.nav-link:hover {
    border-bottom: #ffffff 2px !important;
    color: grey;
}

@media screen and (max-width:576px) {
    .navbar .nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (min-width:577px) {
    #mainNav {
        flex-direction: row;
    }
}