<div class="row">
  <div class="col-md-3"
    *ngFor="let item of products">
    <div class="card">
      <img [src]="item.imageMap" class="card-img-top">
      <div class="card-body">
        <p class="card-text">
          {{ item.title }}
        </p>
        <p>$ {{ item.price }}</p>
      </div>
    </div>
  </div>
    <!-- <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="assets/klife01.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">White T-Shirt</p>
          <p>$ 15.00</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="assets/klife02.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">White T-Shirt</p>
          <p>$ 15.00</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="assets/klife11.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">White T-Shirt</p>
          <p>$ 15.00</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="assets/klife04.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">White T-Shirt</p>
          <p>$ 15.00</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="assets/klife05.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">White T-Shirt</p>
          <p>$ 15.00</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="assets/klife06.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">White T-Shirt</p>
          <p>$ 15.00</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="assets/klife07.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">White T-Shirt</p>
          <p>$ 15.00</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="assets/klife08.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">White T-Shirt</p>
          <p>$ 15.00</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="assets/klife09.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">White T-Shirt</p>
          <p>$ 15.00</p>
        </div>
      </div>
    </div> -->
  <!-- </div> -->
</div>
