{% extends 'base_layout.html' %}
{% load static %}
{% block content %}
    <div class="mini-banner">
        {% include 'includes/navbar.html' %}
    </div>
    <div class="row" style="min-height: 100%!important;">
        <div class="col-md-4" style='background: url("{% static 'web/images/contactbg.jpg' %}") center cover;'>
            <h2>CONTACT US</h2>
            <h4>We'd love to hear from you...</h4>
            <address>
                MOBILE: <a href="tel:+254707081315">+254 707 081 315</a><br/>
                E-MAIL: <a href="mailto:johnlawi72@gmail.com">ijohnlawi72@gmail.com</a> <br/>
                WEBSITE: <a href="klifestyle.herokuapp.com">www.kenyanlifestyle.com</a>
            </address>
        </div>
        <div class="col-md-8">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d495.3524297676401!2d36.82382987152127!3d-1.2830740883278344!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f10d5ef82815f%3A0x2b087c5079b170a9!2sImenti+House!5e0!3m2!1sen!2ske!4v1530884646630"
                    width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
{% endblock %}
