{% extends 'base_layout.html' %}
{% load static %}

{% block head_title %}
    {{ post.title }} | {{ block.super }}
{% endblock head_title %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/flexslider.css' %}">
    <link rel="stylesheet" href="{% static 'css/easy-responsive-tabs.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui1.css' %}">
{#    <link rel="stylesheet" href="{% static 'css/shop.css' %}">#}
{% endblock stylesheet %}

<div class="col-sm-6 col-sm-offset-3">
    {% block content %}
    <div class="mini-banner">
        {% include 'includes/navbar.html' %}
    </div>
{#        <div class=""></div>#}
{#    {{ title }}<br/>#}
{#        {{ product.name }}<br/>#}
{#        {% if product.image %}#}
{#            <img src="{{ product.image.url }}" alt="{{ product.name }} avatar" class="img-responsive">#}
{#        {% endif %}#}
{#        <br/>#}
{#        Kshs {{ product.price}}<br/>#}


        <div class="container-fluid ads-grid_shop">
		<div class="shop_inner_inf row">
            <div class="row">
                <div class="col-md-4 single-right-left ">
                    <div class="grid images_3_of_2">
                        <div class="flexslider">

                            <ul class="slides">
                                <li data-thumb="images/d2.jpg">
                                    <div class="thumb-image"> <img src="{{ product.image.url }}" data-imagezoom="true" class="img-responsive">
                                    </div>
                                </li>
                                <li data-thumb="images/d1.jpg">
                                    <div class="thumb-image"> <img src="{{ product.image.url }}" data-imagezoom="true" class="img-responsive"> </div>
                                </li>
                                <li data-thumb="images/d3.jpg">
                                    <div class="thumb-image"> <img src="{{ product.image.url }}" data-imagezoom="true" class="img-responsive"> </div>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 single-right-left simpleCart_shelfItem">
                    <h3>{{ product.name }}</h3>
                    <p><span class="item_price">Kshs {{ product.price }}</span>
                        <del>Kshs {{ product.price }}</del>
                    </p>
                    <div class="description">
                        <h5>Check delivery, payment options and charges at your location</h5>
                        <form action="#" method="post">
                            <input type="text" value="Enter pincode" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter pincode';}"
                                required="">
                            <input type="submit" value="Check">
                        </form>
                    </div>
                    <div class="color-quality">
                        <div class="color-quality-right">
                            <h5>Quality :</h5>
                            <select id="country1" onchange="change_country(this.value)" class="frm-field required sect">
                                    <option value="null">5 Qty</option>
                                    <option value="null">6 Qty</option>
                                    <option value="null">7 Qty</option>
                                    <option value="null">10 Qty</option>
                                </select>
                        </div>
                    </div>
                    <div class="occasion-cart">
                        <div class="shoe single-item single_page_b">
                            <form action="#" method="post">
                                <input type="hidden" name="cmd" value="_cart">
                                <input type="hidden" name="add" value="1">
                                <input type="hidden" name="shoe_item" value="Chikku Loafers">
                                <input type="hidden" name="amount" value="405.00">
                                <input type="submit" name="submit" value="Add to cart" class="button add">

                                <a href="#" data-toggle="modal" data-target="#myModal1"></a>
                            </form>

                        </div>

                    </div>
                    <ul class="social-nav model-3d-0 footer-social social single_page">
                        <li class="share">Share On : </li>
                        <li>
                            <a href="#" class="facebook">
                                <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                                <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="twitter">
                                <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                                <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="instagram">
                                <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                                <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="pinterest">
                                <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                                <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
			<div class="clearfix"> </div>
			<!--/tabs-->
			<div class="responsive_tabs row">
				<div id="horizontalTab">
					<ul class="resp-tabs-list">
						<li>Description</li>
						<li>Reviews</li>
						<li>Information</li>
					</ul>
					<div class="resp-tabs-container">
						<!--/tab_one-->
						<div class="tab1">

							<div class="single_page">
								<h6>{{ product.name }}</h6>
								<p>{{ product.description|linebreaks }}</p>
							</div>
						</div>
						<!--//tab_one-->
						<div class="tab2">
							<div class="single_page">
								<div class="bootstrap-tab-text-grids">
									<div class="bootstrap-tab-text-grid">
										<div class="bootstrap-tab-text-grid-left">
											<img src="{% static 'images/IMG_8843.jpg' %}" alt=" " class="img-responsive">
										</div>
										<div class="bootstrap-tab-text-grid-right">
											<ul>
												<li><a href="#">Admin</a></li>
												<li><a href="#"><i class="fa fa-reply-all" aria-hidden="true"></i> Reply</a></li>
											</ul>
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elPellentesque vehicula augue eget.Ut enim ad minima veniam,
												quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis
												autem vel eum iure reprehenderit.</p>
										</div>
										<div class="clearfix"> </div>
									</div>
									<div class="add-review">
										<h4>add a review</h4>
										<form action="#" method="post">
											<input type="text" name="Name" required="", placeholder="Name">
											<input type="email" name="Email" required="", placeholder="Email">
											<textarea name="Message" required="", placeholder="Review"></textarea>
											<input type="submit" value="SEND">
										</form>
									</div>
								</div>

							</div>
						</div>
						<!--//tab_two-->
						<div class="tab3">
							<div class="single_page">
								<h6>{{ product.name }}</h6>
                                <p>{{ product.description | linebreaks }}</p>
							</div>
						</div>
						<!--//tab_thre-->
					</div>
				</div>
			</div>
			<!--//tabs-->
			<!-- featured products -->
			<div class="new_arrivals">
				<h3>Featured Products</h3>
				<!-- /womens -->
                <div class="row"></div>
                {% for obj in object_list %}
                    <div class="col-md-3 product-men women_two">
                        <div class="product-shoe-info shoe">
                            <div class="men-pro-item">
                                <div class="men-thumb-item">
                                    <img src="{{ obj.image.url }}" alt="{{ obj.name }}" class="img-responsive">
                                    <div class="men-cart-pro">
                                        <div class="inner-men-cart-pro">
                                            <a href="{{ obj.get_absolute_url }}" class="link-product-add-cart"
                                            >Quick View</a>
                                        </div>
                                    </div>
                                    <span class="product-new-top">New</span>
                                </div>
                                <div class="item-info-product">
                                    <h4>
                                        <a href="{{ obj.get_absolute_url }}">{{ obj.name }}</a>
                                    </h4>
                                    <div class="info-product-price">
                                        <div class="grid_meta">
                                            <div class="product_price">
                                                <div class="grid-price ">
                                                    <span class="money ">shs. {{ obj.price }}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="shoe single-item hvr-outline-out">
                                            <form action="#" method="post">
                                                <input type="hidden" name="cmd" value="_cart">
                                                <input type="hidden" name="add" value="1">
                                                <input type="hidden" name="shoe_item" value="{{ obj.name }}">
                                                <input type="hidden" name="amount" value="{{ obj.price }}">
                                                <button type="submit" class="shoe-cart pshoe-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i></button>

                                                <a href="#" data-toggle="modal" data-target="#myModal1"></a>
                                            </form>

                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
{#				<div class="col-md-3 product-men women_two">#}
{#					<div class="product-shoe-info shoe">#}
{#						<div class="men-pro-item">#}
{#							<div class="men-thumb-item">#}
{#								<img src="images/s5.jpg" alt="">#}
{#								<div class="men-cart-pro">#}
{#									<div class="inner-men-cart-pro">#}
{#										<a href="single.html" class="link-product-add-cart">Quick View</a>#}
{#									</div>#}
{#								</div>#}
{#								<span class="product-new-top">New</span>#}
{#							</div>#}
{#							<div class="item-info-product">#}
{#								<h4>#}
{#									<a href="single.html">Red Bellies </a>#}
{#								</h4>#}
{#								<div class="info-product-price">#}
{#									<div class="grid_meta">#}
{#										<div class="product_price">#}
{#											<div class="grid-price ">#}
{#												<span class="money ">$325.00</span>#}
{#											</div>#}
{#										</div>#}
{#										<ul class="stars">#}
{#											<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>#}
{#											<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>#}
{#											<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>#}
{#											<li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>#}
{#											<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>#}
{#										</ul>#}
{#									</div>#}
{#									<div class="shoe single-item hvr-outline-out">#}
{#										<form action="#" method="post">#}
{#											<input type="hidden" name="cmd" value="_cart">#}
{#											<input type="hidden" name="add" value="1">#}
{#											<input type="hidden" name="shoe_item" value="Red Bellies">#}
{#											<input type="hidden" name="amount" value="325.00">#}
{#											<button type="submit" class="shoe-cart pshoe-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i></button>#}
{##}
{#											<a href="#" data-toggle="modal" data-target="#myModal1"></a>#}
{#										</form>#}
{##}
{#									</div>#}
{#								</div>#}
{#								<div class="clearfix"></div>#}
{#							</div>#}
{#						</div>#}
{#					</div>#}
{#				</div>#}
{#				<div class="col-md-3 product-men women_two">#}
{#					<div class="product-shoe-info shoe">#}
{#						<div class="men-pro-item">#}
{#							<div class="men-thumb-item">#}
{#								<img src="images/s7.jpg" alt="">#}
{#								<div class="men-cart-pro">#}
{#									<div class="inner-men-cart-pro">#}
{#										<a href="single.html" class="link-product-add-cart">Quick View</a>#}
{#									</div>#}
{#								</div>#}
{#								<span class="product-new-top">New</span>#}
{#							</div>#}
{#							<div class="item-info-product">#}
{#								<h4>#}
{#									<a href="single.html">Running Shoes</a>#}
{#								</h4>#}
{#								<div class="info-product-price">#}
{#									<div class="grid_meta">#}
{#										<div class="product_price">#}
{#											<div class="grid-price ">#}
{#												<span class="money ">$875.00</span>#}
{#											</div>#}
{#										</div>#}
{#										<ul class="stars">#}
{#											<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>#}
{#											<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>#}
{#											<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>#}
{#											<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>#}
{#											<li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>#}
{#										</ul>#}
{#									</div>#}
{#									<div class="shoe single-item hvr-outline-out">#}
{#										<form action="#" method="post">#}
{#											<input type="hidden" name="cmd" value="_cart">#}
{#											<input type="hidden" name="add" value="1">#}
{#											<input type="hidden" name="shoe_item" value="Running Shoes">#}
{#											<input type="hidden" name="amount" value="875.00">#}
{#											<button type="submit" class="shoe-cart pshoe-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i></button>#}
{##}
{#											<a href="#" data-toggle="modal" data-target="#myModal1"></a>#}
{#										</form>#}
{##}
{#									</div>#}
{#								</div>#}
{#								<div class="clearfix"></div>#}
{#							</div>#}
{#						</div>#}
{#					</div>#}
{#				</div>#}
{#				<div class="col-md-3 product-men women_two">#}
{#					<div class="product-shoe-info shoe">#}
{#						<div class="men-pro-item">#}
{#							<div class="men-thumb-item">#}
{#								<img src="images/s8.jpg" alt="">#}
{#								<div class="men-cart-pro">#}
{#									<div class="inner-men-cart-pro">#}
{#										<a href="single.html" class="link-product-add-cart">Quick View</a>#}
{#									</div>#}
{#								</div>#}
{#								<span class="product-new-top">New</span>#}
{#							</div>#}
{#							<div class="item-info-product">#}
{#								<h4>#}
{#									<a href="single.html">Sukun Casuals</a>#}
{#								</h4>#}
{#								<div class="info-product-price">#}
{#									<div class="grid_meta">#}
{#										<div class="product_price">#}
{#											<div class="grid-price ">#}
{#												<span class="money ">$505.00</span>#}
{#											</div>#}
{#										</div>#}
{#										<ul class="stars">#}
{#											<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>#}
{#											<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>#}
{#											<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>#}
{#											<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>#}
{#											<li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>#}
{#										</ul>#}
{#									</div>#}
{#									<div class="shoe single-item hvr-outline-out">#}
{#										<form action="#" method="post">#}
{#											<input type="hidden" name="cmd" value="_cart">#}
{#											<input type="hidden" name="add" value="1">#}
{#											<input type="hidden" name="shoe_item" value="Sukun Casuals">#}
{#											<input type="hidden" name="amount" value="505.00">#}
{#											<button type="submit" class="shoe-cart pshoe-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i></button>#}
{##}
{#											<a href="#" data-toggle="modal" data-target="#myModal1"></a>#}
{#										</form>#}
{##}
{#									</div>#}
{#								</div>#}
{#								<div class="clearfix"></div>#}
{#							</div>#}
{#						</div>#}
{#					</div>#}
{#				</div>#}

				<!-- //womens -->
				<div class="clearfix"></div>
			</div>
			<!--//featured products-->


		</div>
	</div>

{#        {{ request.build_absolute_uri }}#}
{##}
{#        <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">Share on Facebook</a>#}
{##}
{#        <a href="https://twitter.com/home?status={{ share_string }}%20{{ request.build_absolute_uri }}">#}
{#            Share on Twitter#}
{#            </a>#}
{##}
{#        <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title#}
{#        ={{ share_string }}%20me!&source={{ request.build_absolute_uri }}">#}
{#        Share on Linkedin#}
{#        </a>#}
    {% endblock content %}
</div>
{% block js %}
    <!-- cart js -->
    <script src="{% static 'js/minicart.js' %}"></script>
    <script>
		shoe.render();
		shoe.cart.on('shoe_checkout', function (evt) {
			var items, len, i;

			if (this.subtotal() > 0) {
				items = this.items();

				for (i = 0, len = items.length; i < len; i++) {}
			}
		});
	</script>
    <!-- //cart js -->
    <!-- image zoom js -->
    <script src="{% static 'js/imagezoom.js' %}"></script>
    <!-- //image zoom js -->
    <!-- responsive tabs js -->
    <script src="{% static 'js/easy-responsive-tabs.js' %}"></script>
    <script>
        $(document).ready(function () {
			$('#horizontalTab').easyResponsiveTabs({
				type: 'default', //Types: default, vertical, accordion
				width: 'auto', //auto or any width like 600px
				fit: true, // 100% fit in a container
				closed: 'accordion', // Start closed if in accordion view
				activate: function (event) { // Callback function if tab is switched
					var $tab = $(this);
					var $info = $('#tabInfo');
					var $name = $('span', $info);
					$name.text($tab.text());
					$info.show();
				}
			});
			$('#verticalTab').easyResponsiveTabs({
				type: 'vertical',
				width: 'auto',
				fit: true
			});
		});
    </script>
	<!-- FlexSlider -->
	<script src="{% static 'js/jquery.flexslider.js' %}"></script>
	<script>
		// Can also be used with $(document).ready()
		$(window).load(function () {
			$('.flexslider').flexslider({
				animation: "slide",
				controlNav: "thumbnails"
			});
		});
	</script>
	<!-- //FlexSlider-->
{% endblock js %}
