<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 side-nav">
      <nav class="nav flex-row">
          <a class="nav-link" routerLink="/home/all">All</a>
          <a class="nav-link" routerLink="/home/tops">Tops</a>
          <a class="nav-link" routerLink="/home/pants">Pants</a>
          <a class="nav-link" routerLink="/home/accessories">Accessories</a>
        </nav>
    </div>
    <div class="col-md-10">
        <router-outlet></router-outlet>
    </div>
  </div>
</div>