<div class="row">
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/v1536178457/kenyan%20lifestyle/images/kl-ig-03.png">
        <div class="card-body">
          <p class="card-text">Black sling bag printed Kenyan Lifestyle</p>
          <p>$ 15.00</p>
        </div>
      </div>
    </div>
    <!-- <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="assets/klife02.jpg">
        <div class="card-body">
          <p class="card-text">White T-Shirt</p>
          <p>$ 15.00</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="assets/klife11.jpg">
        <div class="card-body">
          <p class="card-text">White T-Shirt</p>
          <p>$ 15.00</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="assets/klife04.jpg">
        <div class="card-body">
          <p class="card-text">White T-Shirt</p>
          <p>$ 15.00</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="assets/klife05.jpg">
        <div class="card-body">
          <p class="card-text">White T-Shirt</p>
          <p>$ 15.00</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="assets/klife06.jpg">
        <div class="card-body">
          <p class="card-text">White T-Shirt</p>
          <p>$ 15.00</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="assets/klife07.jpg">
        <div class="card-body">
          <p class="card-text">White T-Shirt</p>
          <p>$ 15.00</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="assets/klife08.jpg">
        <div class="card-body">
          <p class="card-text">White T-Shirt</p>
          <p>$ 15.00</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="assets/klife09.jpg">
        <div class="card-body">
          <p class="card-text">White T-Shirt</p>
          <p>$ 15.00</p>
        </div>
      </div>
    </div> -->
  <!-- </div> -->
</div>
